<%- include('partials/head') %>

<body>
  <%- include('partials/navbar') %>

  <h1>The home page <%= `hello ejs`.toUpperCase() %></h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, dolore saepe est aliquam laudantium inventore
    nam illum facere autem perferendis sequi voluptatum commodi repudiandae! Voluptate nulla blanditiis voluptatum
    necessitatibus provident.</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem debitis iusto numquam sit ipsam, in itaque, ab
    sapiente vitae consequatur veniam saepe velit! Repellendus vitae et alias excepturi pariatur voluptas?</p>
</body>

</html>